
* {
    box-sizing: border-box;
    font-size: 0.8vw;
    font-family: sans-serif;

}

.boxcenter {
    width: 70%;
    margin: 0 auto;
}

.row {
    float: left;
    width: 100%;
}

.mb {
    margin-bottom: 20px;
}

.mb10 {
    margin-bottom: 10px;
}

.mr {
    margin-right: 2%;
}

.demo {
    background-color: antiquewhite;
    min-height: 100px;
}

.header {
    background-color: 1px rgb(29, 134, 29);
    border: 1px rgb(29, 134, 29) solid;
    color: 1px rgb(29, 134, 29);
    border-radius: 5px;
}

.header h1 {
    margin: 20px;
    font-size: 1.2vw;
}

.menu {
    background-color: black;
    color: blue;
    border-radius: 5px;
}

.boxtrai {
    float: left;
    width: 74%;
}

.boxphai {
    width: 24%;
    float: left;
}

.footer {
    background-color: 1px rgb(29, 134, 29);
    border: 1px rgb(29, 134, 29) solid;
    font-size: 0.8vw;
    color: 1px rgb(29, 134, 29);
    border-radius: 5px;
    padding: 20px;
}

.boxtitle {
    color: #eee;
    background-color:1px rgb(29, 134, 29);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
}

.boxcontent {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    min-height: 200px;
    padding: 20px;
}

.boxcontent2 {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    background-color: white;
}



.banner {
    height:300px;
    text-align: center;
    width: 100%;
}

.banner img {
    width: 100%;
}


.img img {
    width: 60%;
    height: 180px;
}

.menu ul {
    padding: 0 15px;
}

.menu ul li {
    display: inline;
    list-style: none;
    padding: 0 15px;
}

.menu ul li a {
    color: #ccc;
    text-decoration: none;
}

.menu ul li a:hover {
    color: white;
}


/* Box tài khoản */
.formtaikhoan {
    line-height: 150%;
}

.formtaikhoan input[type="text"],
.formtaikhoan input[type="email"],
.formtaikhoan input[type="password"],
.frmcontent input[type="text"] {
    width: 100%;
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 5px;
}

.formtaikhoan input[type="checkbox"] {
    border-radius: 5px;
}

.formtaikhoan input[type="submit"],
.frmcontent input[type="submit"],
.formtaikhoan input[type="reset"],
.frmcontent input[type="reset"],
.frmcontent input[type="button"] {
    border-radius: 5px;
    padding: 5px 10px;
    background-color: white;
    border: 1px solid #ccc;
}

.formtaikhoan input[type="submit"]:hover,
.frmcontent input[type="submit"]:hover,
.frmcontent input[type="reset"]:hover,
.frmcontent input[type="button"]:hover {
    background-color: #ccc;
}

.formtaikhoan li a {
    color: teal;
    text-decoration: none;
}

.formtaikhoan li a:hover {
    color: chartreuse;
}





/* adMIN */
.headeradmin {
    background-color: #eee;
    border: 1px rgb(29, 134, 29) solid;
    color: 1px rgb(20, 189, 20);
    border-radius: 5px;
    padding: 0px 20px;
}

.headeradmin h1 {
    font-size: 2vw;
}

.frmtitle {
    background-color: #eee;
    border: 1px rgb(29, 134, 29) solid;
    color: 1px rgb(29, 134, 29);
    border-radius: 5px;
    padding: 0px 20px;

}

.frmcontent {
    padding: 20px 0px;
}

/*TABLE */
/* .row .boxcontent .cart{
    width: 100%;
    border-collapse: collapse;

} */
.frmdsloai table {
    width: 100%;
    border-collapse: collapse;
}

.frmdsloai table th {
    padding: 20px;
    background-color: #ccc;
}


.frmdsloai table td{
    padding: 10px 20px;
    border: 1px solid #ccc;
}
.tenmon th a {
    text-decoration: none;
    font-weight: bold;

}




  
